<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Key-value pairs -->
		<add key="AppName" value="SSHApp" />
		<add key="SSHUsername" value="ralves" />
		<add key="SSHKeyPath" value="C:\Users\Ryan\.ssh\id_rsa" />
		<add key="SSHRelayKeyPath" value="C:\Users\Ryan\.ssh\id_rsa" />
		<add key="SSHRelayUsername" value="ralves" />
		<add key="SSHRelay" value="jumpbox.telematics.com" />
		<add key="SSHRelayPort" value="22" />
		<add key="SSHPort" value="22" />
		<add key="CommandtoPopulateNodes" value="jumpbox.telematics.com" />
		<add key="ChefEnvironments" value="test" />
			 <!--qa staging dev devc uat pet mx us uk production" --> 
	</appSettings>
</configuration>
